report.pdf
report.aux
report.bbl
report.blg
report.log
report.out
report.toc
report.tex.bak
report.synctex.gz
references.bib.bak

presentation.pdf
presentation.aux
presentation.bbl
presentation.blg
presentation.log
presentation.nav
presentation.out
presentation.snm
presentation.toc
presentation.tex.bak
presentation.synctex.gz

texput.log
